<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/yueyue1.jpg" class="img-circle img-responsive" alt="profile picture" style="width:242px; height:200px">
      <div class="caption">
        <h3>Yueyue Qin</h3>
        <div>  I enjoy the process of writing codes and being creative as well. I am pursing to become a good web developer. My techniques include:
          <ul>
            <li>Javascript</li>
            <li>jQuery</li>
            <li>HTML5</li>
            <li>CSS</li>
            <li>Bootstrap</li>
            <li>Drupal</li>
          </ul>
        </div>
        <p><a href="https://www.linkedin.com/in/yueyueqin" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>&nbsp; &nbsp;
           <a href="https://github.com/Yueyue07" target="_blank"><i class="fa fa-github fa-2x"></i></a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/darcy1.jpg" class="img-circle img-responsive" alt="profile picture" style="width:242px; height:200px">
      <div class="caption">
        <h3>Darcy Lambrecht</h3>
        <p>I live in Issaquah, WA with my husband and three children. I enjoy reading, sewing, traveling, and photography. Web development skills include:
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>jQuery</li>
          </ul>
          <br>
         </p>
         <p><a href="https://www.linkedin.com/in/darcy-lambrecht-bb16bbb9" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>&nbsp; &nbsp;
            <a href="https://github.com/dlambrecht" target="_blank"><i class="fa fa-github fa-2x"></i></a>
         </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/aaron1.jpg" class="img-circle img-responsive" alt="profile picture" style="width:242px; height:200px">
      <div class="caption">
        <h3>Aaron Filson</h3>
        <p> I am a Web Developer studying at Code Fellows in Seattle, looking to work on fantastic projects to advance technology and improve the world. I earned a B.S. in Computer Science from the University of Puget Sound, and a M.S. in Project Management from City University of Seattle. I have also worked in ceramics for ten years, and a portfolio of my work is online at : http://aaronfilsonceramics.com.</p>
        <p><a href="https://www.linkedin.com/in/aaron-filson-7366b247" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>&nbsp; &nbsp;
           <a href=" https://github.com/AaronFilson" target="_blank"><i class="fa fa-github fa-2x"></i></a>
        </p>
      </div>
    </div>
  </div>
</div>
