<div class="container companyContainer">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Number of Codefellow Students Hired by Compnies
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
           <img src="images/companiesStudNum.jpg" class="img-responsive companyImg" alt="Number of Code fellows Studens Hired By Companies" width="800" height="300" />
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Number of Codefellow Students By Job Titles
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <img src="images/jobStudNum.jpg" class="img-responsive companyImg" alt="Number of Code fellows Students By Job Titles" width="800" height="300" />
        </div>
      </div>
    </div>
  </div>
</div>
