<div class="neiborhood-guides">
  <div class="container">
    <h2>Checkout Your Life in Codefellows</h2>
    <p>The most valuable and meaningful experience</p>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="https://pbs.twimg.com/media/CSB5VGpUYAA6TCS.jpg" class="img-responsive">
        </div>
        <div class="thumbnail">
          <img src="https://pbs.twimg.com/media/CNhp4M0UcAEGboS.jpg" class="img-responsive">
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="https://pbs.twimg.com/media/CIHeaipUYAA45gF.jpg" class="img-responsive">
        </div>
        <div class="thumbnail">
          <img src="https://pbs.twimg.com/media/CScsj72U8AA-4ng.jpg" class="img-responsive">
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="https://pbs.twimg.com/media/CSChTUlUEAA-eW5.jpg" class="img-responsive">
        </div>
        <div class="thumbnail">
          <img src="https://pbs.twimg.com/media/CP3R5nVUEAA9-by.jpg" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</div>
